grpcio==1.47.0
grpcio-tools==1.47.0
GeoAlchemy2==0.12.1
kafka-python==2.0.2
marshmallow==3.17.0
marshmallow-sqlalchemy==0.28.1
SQLAlchemy==1.4.39
shapely==1.7.0
python-dateutil==2.8.2
psycopg2-binary==2.9.3
